body,h1,h2,h3,h4,h5,h6,p, input, button{
    margin: 0;
    padding: 0;
}
html, body { height: 100%;   overflow-x: hidden;}
body{
    font-family: sans-serif;
    touch-action: manipulation;
}
section{
    width: 100vw;
    height: 100%;
    position: relative;
    overflow: scroll;
}
.appTab{
    margin: 9vw;   
}
#carousel{
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: transform 0.4s;
}
#carousel > section{
    flex-shrink: 0;
}
.listedItems{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.noteListItem{
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: background-color 0.1s;
}
.noteListItem:active{
    
    background-color: rgba(0,0,0,0.08);
}
.noteListItem *{
    
    width: 100%;
    text-align: start;
}

.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
button, input{
    background-color: transparent;
    border: 0;
    font-size: inherit;
}
.edit{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 5px;
}
input:focus{
    outline:0;
}
.heading{
    border: 0;
    font-size: 24px;
    padding: 0;
    font-weight: 500;
}
.top{
    display: flex;
}
.backButton{
    height: 50px;
    padding-right: 20px;
    font-size: 16px;
    align-items: start;
}
.profile{
    height: 45px;
    width: 45px;
    position: absolute;
    right: 7vw;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.3) 0 0 4px;
    background-color: #aaaaaa;
}
.profile img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}  
.opacity50{
    opacity: 50%;
}
.opacity75{
    opacity: 75%;
}
.shared{
    margin-bottom: 20px;
    display: block;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-item{
    display: flex;
    position: relative;
    gap: 5px;
}
.list-item input[type=checkbox]{
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px gray solid;
    background-color: white;
    z-index: 2;
    margin-right: 4px;
}
.list-item input[type=checkbox]:checked{
    background-color: transparent;
}
.list-item input[type=text]{
    border: 0;
}
.check{
    position: absolute;
}
.counter{
    display: flex;
    position: absolute;
    right: 0;
    gap: 5px;
    align-items: center;
}
.counter button{
    width: 25px;
    height: 25px;
    border: 1px gray solid;
    border-radius: 50%;
}
.add{
    text-align: start;
    color: black;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 70px;
}
#debug{
    position: fixed;
    bottom: 50px;
    left: 0;
    font-family: monospace;
    pointer-events: none;
    background-color: rgba(0,0,0,0.05);
}