body,h1,h2,h3,h4,h5,h6,p, input, button{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    padding: 7vw;
    touch-action: manipulation;
    
}
button, input{
    background-color: transparent;
    border: 0;
    font-size: inherit;
}
input:focus{
    outline:0;
}
.heading{
    width: min-content;
    border: 0;
    font-size: 24px;
    padding: 0;
    font-weight: 500;
}
#top{
    display: flex;
}
#back{
    height: 50px;
    padding-right: 20px;
    font-size: 16px;
    align-items: start;
}
#profile{
    height: 45px;
    width: 45px;
    position: absolute;
    right: 7vw;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.3) 0 0 4px;
    background-color: #aaaaaa;
}
#profile img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}  
.opacity50{
    opacity: 50%;
}
.opacity75{
    opacity: 75%;
}
.shared{
    margin-bottom: 20px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-item{
    display: flex;
    position: relative;
    gap: 5px;
}
.list-item input[type=checkbox]{
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px gray solid;
    background-color: white;
    z-index: 2;
    margin-right: 4px;
}
.list-item input[type=checkbox]:checked{
    background-color: transparent;
}
.list-item input[type=text]{
    border: 0;
}
.check{
    position: absolute;
}
.counter{
    display: flex;
    position: absolute;
    right: 0;
    gap: 5px;
    align-items: center;
}
.counter button{
    width: 25px;
    height: 25px;
    border: 1px gray solid;
    border-radius: 50%;
}
.add{
    text-align: start;
    color: black;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 70px;
}
#debug{
    position: fixed;
    bottom: 50px;
    left: 0;
    font-family: monospace;
    pointer-events: none;
    background-color: rgba(0,0,0,0.05);
}
.bottom{
    /* this is bad */
    width: -moz-calc(100% - 7vh);
    width: -webkit-calc(100% - 7vh);
    width: calc(100% - 7vh);
    margin-bottom: 20px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}